<!DOCTYPE html>
<html>
<head>
    <title>Payment Service</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <!-- <h1>Payment Information</h1>
    <div>
        <p>User ID: <span id="user_id"></span></p>
        <p>Payment ID: <span id="payment_id"></span></p>
        <p>Amount Owed: $<span id="amount_owed"></span></p>
    </div> -->
    <!-- <button onclick="processPayment()">Confirm Payment</button> -->
    <script>
        // This example assumes that the data is directly embedded into the page by the Flask app.
        // If the data is being fetched asynchronously, the approach would need to be adjusted.
        
        function displayPaymentInfo() {
            // Example values - replace these with dynamic data passed from Flask
            const userId = "{{ user_id }}"; // Flask injects user_id
            const paymentId = "{{ payment_id }}"; // Flask injects payment_id
            const amountOwed = "{{ amount_owed }}"; // Flask injects amount_owed
            
            document.getElementById('user_id').textContent = userId;
            document.getElementById('payment_id').textContent = paymentId;
            document.getElementById('amount_owed').textContent = amountOwed;
        }
        function processPayment() {
            // Show a pop-up message indicating successful payment
            alert("Payment was successful!");
        }
        // Call displayPaymentInfo on page load to display the payment information
        window.onload = displayPaymentInfo;
    </script>

  <form method="POST">
    <div class="border-b border-gray-900/10 pb-12 p-6 mx-auto max-w-2xl text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Total: $ {{ amount_owed}} </h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">user ID: {{user_id}}, Payment ID: {{payment_id}}</p>
      

     <div class="border-b border-gray-900/10 pb-12 p-6">
        <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
          <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>

        <!-- <h2 class="text-base font-semibold leading-7 text-gray-900">Payment Information</h2> -->
    </div>

      <div class="border-b border-gray-900/10 pb-12 p-6">
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900 text-left">First name</label>
            <div class="mt-2">
              <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
  
          <div class="sm:col-span-3">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900 text-left">Last name</label>
            <div class="mt-2">
              <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
  
          <div class="sm:col-span-4">
            <label for="email" class="block text-sm font-medium leading-6 text-gray-900 text-left">Email address</label>
            <div class="mt-2">
              <input id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>

          <div class="col-span-full">
            <div class="flex items-center space-x-2">
                <label for="card-number" class="text-sm font-medium leading-6 text-gray-900 text-left">Card Number</label>
                <div class="flex justify-left items-center space-x-2 mt-2">
                    <img class="w-8" src="{{ url_for('static', filename='images/discover.png') }}" alt="Discover Logo">
                    <img class="w-8" src="{{ url_for('static', filename='images/mastercard.png') }}" alt="Mastercard Logo">
                    <img class="w-8" src="{{ url_for('static', filename='images/visa.jpeg') }}" alt="Visa Logo">
                </div>
            </div>
            <div class="mt-2">
                <input type="text" name="card-number" id="card-number" autocomplete="card_number" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

          <div class="sm:col-span-3">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900 text-left">Name on Card</label>
            <div class="mt-2">
                <input type="text" name="Name" id="Name" autocomplete="Name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
        
          <div class="sm:col-span-2 sm:col-start-1">
            <label for="city" class="block text-sm font-medium leading-6 text-gray-900 text-left">CVV </label>
              <div class="mt-2">
                <input type="text" name="CVV" id="CVV" autocomplete="CVV" class="block w-1/2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
          </div>
          
          <div class="sm:col-span-2">
            <label for="postal-code" class="block text-sm font-medium leading-6 text-gray-900 text-left">ZIP / Postal code</label>
            <div class="mt-2">
                <input type="text" name="postal-code" id="postal-code" autocomplete="postal-code" class="block w-1/2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div> 
          </div>  
          <div class="sm:col-span-2">
            <label for="region" class="block text-sm font-medium leading-6 text-gray-900 text-left">Expiration Date</label>
              <div class="mt-2">
                  <input type="text" name="card_expiry" id="card_expiry" autocomplete="card_expiry" class="block w-1/2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
          </div>
          <!-- <div class="sm:col-span-2">
            <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Country</label>
              <div class="mt-2">
                <select id="country" name="country" autocomplete="country-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                  <option>United States</option>
                  <option>Canada</option>
                  <option>Mexico</option>
                </select>
              </div>
          </div> -->
        </div>
        
      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Pay $ {{ amount_owed }} </button>
      </div>
    </div>
      
   <!-- <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.card_number.label }} {{ form.card_number() }}
        {{ form.card_holder.label }} {{ form.card_holder() }}
        {{ form.expiry_date.label }} {{ form.expiry_date() }}
        {{ form.cvv.label }} {{ form.cvv() }}
        {{ form.submit() }} -->
  </form> 

</body>
</html>

